.navbar{
    width:300px;
    height: 65px;
    background: navy;
    float: right;
}

@media screen and (max-width: 900px) and (min-width: 100px) {
    .navbar{
      width: 150px;
      height: 100px;
    }
  }